{% extends 'base.html' %}

{% block title %}

Парсинг ВК

{% endblock %}

{% block content %}

{{need_users}}


<div class="d-flex align-items-center justify-content-center container-fluid">
	<div class="col-md-6">
		
		<h3>Файлы с данными</h3>

	    {% for file in files %}

			<div class="card">
			  <h5 class="card-header">Создан: {{ file.file_created_at}}</h5>
			  <div class="card-body">
			    <h5 class="card-title">
			    	
			    	{% if file.file_name %}

			    		Наименование файла: {{file.file_name}}

			    	{% endif%}

			    </h5>

			    {% if file.comment %}

			    Комментарий: <p class="card-text">{{ file.comment }}</p>

				{% endif %}

			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>

	    {% endfor %}



	</div>	
</div>



{% endblock %}
